<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Lista de Alunos</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
		rel="stylesheet" />
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="panel panel-default" style="margin: 10px">
	        <div class="panel-heading">
	            <h1 class="panel-title">Lista de Alunos</h1>
			</div>
			<div class="panel-body">
				<form class="form-inline" method="POST" th:object="${aluno}" th:action="@{/alunos}" style="margin: 20px 0">
					
					<div class="form-group">
						<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			          		<div th:each="detailedError : ${#fields.detailedErrors()}">
			              		<span th:text="${detailedError.fieldName}"></span>: <span th:text="${detailedError.message}"></span>
			          		</div>
			         	</div>
			        </div>
					
					<input type="text" class="form-control" placeholder="Matrícula"
					    th:field="*{matricula}"/>
					
					<input type="text" class="form-control" placeholder="Nome"
					    th:field="*{nome}"/>
					
					<input type="email" class="form-control" placeholder="Email"
					    th:field="*{email}"/>
					    
					<input type="text" class="form-control" placeholder="Projeto"
					    th:field="*{projeto}"/>
					    
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</form>
			
	            <table class="table">
					<thead>
						<tr>
	                        <th>Matrícula</th>
	                        <th>Nome</th>
	                        <th>Email</th>
	                        <th>Projeto</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:each="aluno : ${alunos}">
						    <td th:text="${aluno.matricula}"></td>
						    <td th:text="${aluno.nome}"></td>
						    <td th:text="${aluno.email}"></td>
						    <td th:text="${aluno.projeto}"></td>
						</tr>
	                </tbody>
	            </table>
        	</div>
		</div>
	</div>
</body>
</html>